<%= turbo_frame_tag book do %>
  <div class="book">
    <p class="title">
      <strong>Title:</strong>
      <%= book.title %>
    </p>

    <p class="author">
      <strong>Author:</strong>
      <%= book.author %>
    </p>

    <div class="action-left">
      <%= button_to "Edit this book", edit_book_path(book), class: "button secondary", method: :get %>
    </div>

    <div class="action-right">
      <%= button_to "Destroy this book", book, class: "button danger", method: :delete %>
    </div>
  </div>
<% end %>
