<%= turbo_frame_tag book do %>
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <%= button_to "Edit this book", edit_book_path(book), method: :get %>
  <%= button_to "Destroy this book", book, method: :delete %>
<% end %>
