<%= form_with(model: book, class: "book-form") do |form| %>
  <% if book.errors.any? %>
    <div class="errors" style="color: red">
      <p><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</p>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field title">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div class="form-field author">
    <%= form.label :author, style: "display: block" %>
    <%= form.text_field :author %>
  </div>

  <div class="action-left">
    <%= link_to "Cancel", books_path, class: "button secondary" %>
  </div>

  <div class="action-right">
    <%= form.submit :Submit, class: "button primary" %>
  </div>
<% end %>
