<%= turbo_frame_tag "books_heading" do %>
  <h1>Books</h1>

  <%= link_to "New book", new_book_path, data: { turbo_frame: dom_id(Book.new) } %>
<% end %>

<%= turbo_frame_tag Book.new %>

<br/>

<%= turbo_frame_tag "books" do %>
  <%= render @books %>
<% end %>
